.App {
  text-align: center;
  font-family: sans-serif;
}

.tasks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.task {
  min-height: 40px;
  min-width: 40px;
  text-align: center;
  border: 1px solid #777;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding:10px;
}

.task--done{
  background: #ccc;
}

.task--done .task-name{
  text-decoration: line-through;
  background: none;
}

.task-name {
  text-align: center;
  padding: 10px;
  border: none;
}

.task-name:focus {
  outline: none;
}

.task-btn {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
}

.task-btn--done {
  background: #00CC00;
  color:#fff;
}

.task-btn--del {
  background: #CC0000;
  color:#fff;
}

.task--creator {
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}
